.sumedia-winestro-properties-label {
  margin-bottom: .8rem;
}

.sumedia-winestro-properties-label .label {
  float: left;
}

.sumedia-winestro-properties-label .quick {
  font-size: .8em;
  float: right;
}

.sumedia-winestro-properties-label:after {
  clear: both;
}