.sumedia-winestro-salechannels-actions {
    display: block;
    text-align: right;
    margin: 1rem 1rem 0 0;
}

.sumedia-winestro-salechannels-grid {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.sumedia-winestro-salechannels-switches {
    float:left;
    width: 50%;
}