.sumedia-winestro-welcome-title {
    .left:first-child {
        width: 100px;

        img {
            width: 100px;
        }
    }

    .left:last-child {
        width: calc(100% - 2rem - 100px);
        margin-left: 2rem;

        h3 {
            margin-top: .9rem;
        }

        p {
            margin: 1rem 0;
        }
    }
}

.sumedia-winestro-overview-active-tasks {
    .left {
        margin: .5rem 0;

        &:first-child {
            width: 300px;
        }
    }
}