{% block sumedia_winestro_overview %}

    <div class="sumedia-winestro-title">
        <h2>{{ $tc('sumedia-winestro.overview.title') }}</h2>
        <br class="clear" />
    </div>

    <sw-card :large="true">
        <div class="sumedia-winestro-welcome-title">
            <div class="left">
                <!--<img :src="assetFilter('sumediawinestroapi/administration/img/winestro-api-logo.webp')" alt="Winestro Cloud Integration">-->
                <img src="https://localhost/sumedia/winestro/v2-6.6.winestro.de/bundles/sumediawinestroapi/administration/img/winestro-api-logo.webp" alt="Winestro Cloud Integration">
            </div>
            <div class="left">
                <h3>{{ $tc('sumedia-winestro.overview.welcomeTitle') }}</h3>
                <p>{{ $tc('sumedia-winestro.overview.welcomeText') }}</p>
                <p>{{ $tc('sumedia-winestro.overview.welcomeText2') }}</p>
                <p>{{ $tc('sumedia-winestro.overview.welcomeText3') }}</p>
                <p>{{ $tc('sumedia-winestro.overview.welcomeText4') }}</p>
                <a target="_blank" href="https://sumedia-webdesign.atlassian.net/wiki/spaces/WINESTRO/pages/1081396/Plugin+in+Version+2.x">
                    {{ $tc('sumedia-winestro.overview.toTheDocumentation') }}
                </a>
            </div>
        </div>
    </sw-card>

    <div v-if="isInstallationNeeded">
        <sw-card :large="true">
            <h3>{{ $tc('sumedia-winestro.overview.needInstallTitle') }}</h3>
            <p>{{ $tc('sumedia-winestro.overview.needInstall') }}</p><br />
            <p>{{ $tc('sumedia-winestro.overview.needInstall2') }}</p><br />
        </sw-card>
    </div>

    <div v-if="isMigrationNeeded">
        <sw-card :large="true">
            <h3>{{ $tc('sumedia-winestro.overview.needMigrationTitle') }}</h3>
            <p>{{ $tc('sumedia-winestro.overview.needMigration') }}</p><br />
            <p>{{ $tc('sumedia-winestro.overview.needMigration2') }}</p><br />
        </sw-card>
    </div>

    <div v-if="!isInstallationNeeded && !isMigrationNeeded">
        <sw-card :large="true">
            <h3>{{ $tc('sumedia-winestro.overview.readyTitle') }}</h3>
            <p>{{ $tc('sumedia-winestro.overview.ready') }}</p><br />
        </sw-card>
    </div>

    <div v-if="!isInstallationNeeded">
        <sw-card :large="true">
            <h3>{{ $tc('sumedia-winestro.overview.activityStateTitle') }}</h3>
            <template v-for="item in tasks">
                <div class="sumedia-winestro-overview-active-tasks">
                    <div class="left">{{ item.name }}</div>
                    <div class="left">
                        <span v-if="item.enabled.enabled">
                            <sw-icon name="regular-circle-xxxs" size="12" color="#9c9"></sw-icon>
                            {{ $tc('sumedia-winestro.active') }}
                        </span>
                        <span v-else>
                            <sw-icon name="regular-circle-xxxs" size="12" color="#c00"></sw-icon>
                            {{ $tc('sumedia-winestro.inactive') }}
                        </span>
                    </div>
                    <br class="clear" />
                </div>
            </template>
        </sw-card>
    </div>

{% endblock %}