<div>
    <sw-button-process
            :isLoading="isLoading"
            :processSuccess="isSaveSuccessful"
            @process-finish="saveFinish"
            @click="check"
    >{{ $tc('sumedia-wbo-api-test-button.button') }}</sw-button-process>
</div>